---
title: COPTR POWRR Grid
layout: default
hide-title: true
permalink: /tools/by-type/
---

    <style type="text/css">
body {
  font-family: sans-serif;
}
th {
    font-weight: normal;
}
th.rotate {
  height: 220px;
  white-space: nowrap;
}
th.rotate > div {
  transform: 
    translate(20px, 87px)
    rotate(-45deg);
  width: 35px;
}
th.rotate > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}
table {
 border-collapse: collapse;
 margin: -5em auto 1em auto;
}
tbody th {
  white-space: nowrap;    
}
tbody td, thead th.group {
  border: 1px solid #ccc;
}
th.group {
  text-align: center;
}
    </style>

{% for ct in site.data.tools.content_types %}

{% capture sectitle %}{{ ct[1]['title'] }}{% endcapture %}
<h3 id="{% include anchor.html anchor=sectitle %}"><a href="#{% include anchor.html anchor=sectitle %}" style="color: black">{{ sectitle }}</a></h3>

<table>
<thead>
<tr>
<th></th>
{% for cat in site.data.tools.function_tree %}
<th class="rotate"><div><span><a href="http://coptr.digipres.org/{{ cat.title_url }}">
{{ cat.title }}
</a></span></div></th>
{% endfor %}
</thead>
<tbody>

{% assign sorted_tools = (site.data.tools.tools | sort: 'title') %}
{% for tool in sorted_tools %}
{% if tool.content_types contains ct[1]['title'] %}
<tr class="toolgrid-row {{ ct[1]['title_url'] | downcase | replace: '%','' }}">
<th><a href="http://coptr.digipres.org/{{ tool.title_url }}">{{ tool.title }}</a></th>
{% for cat in site.data.tools.function_tree %}
<td style="vertical-align: middle; text-align: center;" class="toolgrid-col {{ cat['title_url'] | downcase | replace: '%','' }}">
{% if tool.topcats contains cat.title %}
{% capture sectitle %}{{ ct[1]['title'] }}: {{ cat.title }}{% endcapture %}
<a href="{{ site.baseurl }}/tools/type-and-func/#{% include anchor.html anchor=sectitle %}">
<span class="glyphicon glyphicon-ok"></span>
</a>
{% endif %}
</td>
{% endfor %}
</tr>
{% endif %}
{% endfor %}
</tbody>
</table>

{% endfor %}

