---
title: COPTR POWRR Grid
layout: default
hide-title: true
---

<table class="powrr">
<thead>
<tr>
<th class="rotate"></th>
{% for cat in site.data.tools.function_tree %}
{% capture sectitle %}{{ cat.title }}{% endcapture %}
<th class="rotate {% include anchor.html anchor=sectitle %}"><div><span><a href="{{ site.baseurl }}/tools/by-func/#{% include anchor.html anchor=sectitle %}">
{{ cat.title }}
</a></span></div></th>
{% endfor %}
<tr>
<th class="group">&nbsp;</th>
<th colspan="{{ site.data.tools.function_tree | size }}"  class="group"><a href="http://www.dcc.ac.uk/resources/curation-lifecycle-model">DCC Lifecycle Stages</a></th>
</thead>
<tbody>

{% for mat in site.data.tools.tool_matrix %}
<tr class="{% cycle 'odd', 'even' %}">
{% capture sectitle %}{{ mat[0] }}{% endcapture %}
<th><a href="{{ site.baseurl }}/tools/by-type/#{% include anchor.html anchor=sectitle %}">{{ mat[0] }}</a></th>
{% for cat in site.data.tools.function_tree %}
<td style="vertical-align: middle; text-align: center;">
{% if mat[1].topcats contains cat.title %}
{% capture sectitle %}{{ mat[0] }}: {{ cat.title }}{% endcapture %}
<a href="{{ site.baseurl }}/tools/type-and-func/#{% include anchor.html anchor=sectitle %}" title="{{ mat[1].topcats[cat.title] }} '{{ cat.title }}' tool(s) for {{ mat[0] }}">
{{ mat[1].topcats[cat.title] }}
</a>
{% endif %}
</td>
{% endfor %}
</tr>
{% endfor %}
</tbody>
</table>
