---
title: COPTR POWRR Grid
layout: toolgrid
---

<table>
<thead>
<tr>
<th></th>
{% for cat in site.data.tools.function_tree %}
{% for subcat in cat.subcats %}
<th class="rotate"><div><span><a href="http://coptr.digipres.org/{{ subcat.title_url }}">
{{ subcat.title }}
</a></span></div></th>
{% endfor %}
{% endfor %}
</tr>
<tr>
<th></th>
{% for cat in site.data.tools.function_tree %}
<th class="group" colspan="{{ cat.subcats | size }}"><a href="http://coptr.digipres.org/{{ cat.title_url }}">{{ cat.title }}</a></th>
{% endfor %}
</thead>
<tbody>

{% assign sorted_tools = (site.data.tools.tool_grid | sort: 'title') %}
{% for tool in sorted_tools %}
<tr>
<th>{{ tool.title }}</th>
{% for cat in site.data.tools.function_tree %}
{% for subcat in cat.subcats %}
<td>
{% if tool.subcat_url == subcat.title_url %}
X
{% endif %}
</td>
{% endfor %}
{% endfor %}
</tr>
{% endfor %}
</tbody>
</table>
