---
title: DigiPres Tools
subtitle: By content type and lifecycle stage
layout: default
hide-title: true
permalink: /tools/by-type-and-stage/
---

{% assign sorted_tools = (site.data.tools.tools | sort: 'title') %}

{% for ct in site.data.tools.content_types %}

{% for cat in site.data.tools.function_tree %}
{% capture sectitle %}{{ ct[1]['title'] }}: {{ cat.title }}{% endcapture %}
<h3 id="{% include anchor.html anchor=sectitle %}"><a href="#{% include anchor.html anchor=sectitle %}" style="color: black">{{ sectitle }}</a></h3>

<table class="powrr">
<thead>
<tr>
<th></th>
{% for subcat in cat.subcats %}
{% capture sectitle %}{{ ct[1].title }}: {{ subcat.title }}{% endcapture %}
<th class="rotate toolgrid-col {{ cat['title_url'] | downcase | replace: '%','' }}"><div><span><a href="{{ site.baseurl }}/tools/by-type-and-function/#{% include anchor.html anchor=sectitle %}">
{{ subcat.title }}
</a></span></div></th>
{% endfor %}
</tr>
</thead>
<tbody>

{% for tool in sorted_tools %}
{% if tool.content_types contains ct[1]['title'] %}
<tr class="toolgrid-row {{ ct[1]['title_url'] | downcase | replace: '%','' }}">
{% capture sectitle %}Tool: {{ tool.title_full }}{% endcapture %}
<th><a href="{{ site.baseurl }}/tools/all-tools/#{% include anchor.html anchor=sectitle %}">{{ tool.title }}</a></th>
{% for subcat in cat.subcats %}
<td style="vertical-align: middle; text-align: center;" class="toolgrid-col {{ cat['title_url'] | downcase | replace: '%','' }}">
{% if tool.subcats contains subcat.title %}
<a href="{{ site.baseurl }}/tools/all-tools/#{% include anchor.html anchor=sectitle %}">
<span class="glyphicon glyphicon-ok"></span>
</a>
{% endif %}
</td>
{% endfor %}
</tr>
{% endif %}
{% endfor %}
</tbody>
</table>

{% endfor %}
{% endfor %}
