---
title: DigiPres Tools
subtitle: By content type and function
layout: default
hide-title: true
permalink: /tools/by-type-and-function/
---

<div class="panel panel-default">
  <div class="panel-body">
    <p>
    Fine-grained list of all tools, by content type and function.
    </p>
    <ul>
{% for ct in site.data.tools.tool_matrix %}
{% if ct[1].count > 0 %}
{% capture sectitle %}{{ ct[0] }}{% endcapture %}
<li><a href="#{% include anchor.html anchor=sectitle %}">{{ sectitle }}</a>
<ul>
{% for subcat in ct[1].subcats %}
{% if subcat[1] > 0 %}

{% capture sectitle %}{{ ct[0] }}: {{ subcat[0] }}{% endcapture %}
<li><a href="#{% include anchor.html anchor=sectitle %}">{{ subcat[0] }}</a></li>
{% endif %}
{% endfor %}
</ul>
</li>
{% endif %}
{% endfor %}
    </ul>
  </div>
</div>


{% assign sorted_tools = site.data.tools.tools | sort: 'title' %}

{% for ct in site.data.tools.tool_matrix %}
{% if ct[1].count > 0 %}

{% capture sectitle %}{{ ct[0] }}{% endcapture %}
<h1 id="{% include anchor.html anchor=sectitle %}"><a href="#{% include anchor.html anchor=sectitle %}" style="color: black">{{ sectitle }}</a></h2>

<a href="#top-navbar" class="pull-right" title="To the top of the page."><span class="glyphicon glyphicon-arrow-up"></span></a>

{% for subcat in ct[1].subcats %}
{% if subcat[1] > 0 %}

{% capture sectitle %}{{ ct[0] }}: {{ subcat[0] }}{% endcapture %}
<h2 id="{% include anchor.html anchor=sectitle %}"><a href="#{% include anchor.html anchor=sectitle %}" style="color: black">{{ sectitle }}</a></h3>

{% assign definition = "" %}
{% for ft_cat in site.data.tools.function_tree %}
{% for ft_subcat in ft_cat.subcats %}
{% if ft_subcat.title == subcat[0] %}
{% assign definition = ft_subcat.definition %}
{% endif %}
{% endfor %}
{% endfor %}
<p>
{{ definition }}
</p>

<ul>
{% for tool in sorted_tools %}
{% if tool.content_types contains ct[0] %}
{% if tool.subcats contains subcat[0] %}

{% capture sectitle %}Tool: {{ tool.title_full }}{% endcapture %}
<li><b><a href="{{ site.baseurl }}/tools/all-tools/#{% include anchor.html anchor=sectitle %}" style="color: black">{{ tool.title_full }}</a></b> - {{ tool.purpose }}
{% include _tool_edit_link.html tool=tool show_title=false %}
</li>

{% endif %}
{% endif %}
{% endfor %}
</ul>

{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
