---
title: COPTR POWRR Grid
layout: default
hide-title: true
permalink: /tools/type-and-stage/
---

{% assign sorted_tools = (site.data.tools.tools | sort: 'title') %}

{% for ct in site.data.tools.content_types %}

{% for cat in site.data.tools.function_tree %}
{% capture sectitle %}{{ ct[1]['title'] }}: {{ cat.title }}{% endcapture %}
<h3 id="{% include anchor.html anchor=sectitle %}"><a href="#{% include anchor.html anchor=sectitle %}" style="color: black">{{ sectitle }}</a></h3>

<table class="powrr">
<thead>
<tr>
<th></th>
{% for subcat in cat.subcats %}
<th class="rotate toolgrid-col {{ cat['title_url'] | downcase | replace: '%','' }}"><div><span><a href="http://coptr.digipres.org/{{ subcat.title_url }}">
{{ subcat.title }}
</a></span></div></th>
{% endfor %}
</tr>
<tr>
<th></th>
<th colspan="{{ cat.subcats | size }}" class="group"><a href="http://coptr.digipres.org/{{ cat.title_url }}">{{ cat.title }}</a></th>
</thead>
<tbody>

{% for tool in sorted_tools %}
{% if tool.content_types contains ct[1]['title'] %}
<tr class="toolgrid-row {{ ct[1]['title_url'] | downcase | replace: '%','' }}">
<th><a href="http://coptr.digipres.org/{{ tool.title_url }}">{{ tool.title }}</a></th>
{% for subcat in cat.subcats %}
<td style="vertical-align: middle; text-align: center;" class="toolgrid-col {{ cat['title_url'] | downcase | replace: '%','' }}">
{% if tool.subcats contains subcat.title %}
<span class="glyphicon glyphicon-ok"></span>
{% endif %}
</td>
{% endfor %}
</tr>
{% endif %}
{% endfor %}
</tbody>
</table>

{% endfor %}
{% endfor %}
