---
layout: simple_page
---

{{ content }}

<table class="table table-striped table-bordered">
  <tbody>
    <tr>
      <th scope="row">Region</th>
      <td>{{ page.region }}</td>
    </tr>
    <tr>
      <th scope="row">Langage(s)</th>
      <td>{{ page.lang }}</td>
    </tr>
    <tr>
      <th scope="row">Online/Remote Possible?</th>
      <td>{{ page.online }}</td>
    </tr>
    <tr>
      <th scope="row">Homepage</th>
      <td>{% if page.homepage_url %}<a href="{{ page.homepage_url }}">{{ page.homepage_url }}</a>{% endif %}</td>
    </tr>
    <tr>
      <th scope="row">Forum</th>
      <td>
        {% if page.forum_url %}
          {% if page.forum_url contains "http:" or page.forum_url contains "https:" %}
          <a href="{{ page.forum_url }}">{{ page.forum_url }}</a>
          {% else %}
            {{ page.forum_url }}
          {% endif %}
        {% endif %}
      </td>
    </tr>
    <tr>
      <th scope="row">Contact Email Address</th>
      <td>{% if page.email %}<a href="mailto:{{ page.email }}?Subject={{page.title | escape }}">{{ page.email }}</a>{% endif %}</td>
    </tr>
  </tbody>
</table>

<p class="text-end">
<a href="/admin/#/collections/local-groups/entries/{{ page.dir | split: '/' | last }}/index" class="btn btn-primary">Click here to update this entry</a>
</p>

</main>
